/* @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); */

/* .catchphrase {
    font-size: 5vw;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    color:white;
    margin-top: 10vh;
}

.catchphrase>div{
    margin-top:-10px;
    padding: 0;
}

.subtext{
    font-size: 2vh;
    font-family: 'Martel', serif;
    font-weight: 400px;
    color: white;
    margin-top: 25px;
}

.getstarted{
    border: none ;
    border-radius: 15px;
    padding: 10px;
    margin-top: 25px;
    font-size: 1vw;
    color: #152935;
    background-color: rgb(252, 193, 202);;
}

.getstarted:hover{
    color:white;
    background-color: #c77857;
} */


/* new homepage */

.mainpage-cont {

}

.background-img {

}