
.mainpage-cont {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    height: 80vh;
    width: 100vw;
}

.left-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.right-cont {
    display: flex;
    align-items: center;
}

.background-img {
    object-fit: cover;
    object-position: 50%;
    height: 75%;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.getstarted-btn {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    display: inline-block;
    --text-opacity: 1;
    color: black;
    font-size: 1rem;
    --border-opacity: 1;
    border-width: 2px;
    font-weight: 500;
    padding: .5rem 1.5rem;
    border-radius: 9999px;
    flex-shrink: 0;
    border-color: rgb(237, 236, 237);
    background-color: white;
    border-style: solid;
    border-color: #1AAD7A;
    color: #1AAD7A;
}


.getstarted-btn:hover {
    color:white;
    background-color: #1AAD7A;
}

.title {
    font-size: 5vw;
    margin: 0 0 8px;
    font-weight: bold;
    color:salmon;
}

.title-one, .title-two {
    text-align: center;
}

.subtitle {
    margin: 0 0 32px;
    font-size: 2vw;
    text-align: center;
    font-weight: lighter;
}

