@import url('//fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.mainpage-cont {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    height: 80vh;
    width: 100vw;
}

.left-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 5vw;
    margin-top: 10px;
}

.right-cont {
    display: flex;
    align-items: center;
    margin-left: 7vw;
    width: 40%;
}

.background-img {
    object-fit: cover;
    object-position: 50%;
    height: 100%;
    width: 75%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    margin-top: 100px;
}

.getstarted-btn {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    display: inline-block;
    --text-opacity: 1;
    color: black;
    font-size: 1.2vw;
    --border-opacity: 1;
    border-width: 2px;
    font-weight: 500;
    padding: .5rem 1.5rem;
    border-radius: 9999px;
    flex-shrink: 0;
    background-color: white;
    border-style: solid;
    border-color: rgb(240, 103, 107);
    color: rgb(240, 103, 107);
}


.getstarted-btn:hover {
    color:white;
    background-color: rgb(240, 103, 107);
}

.title {
    font-size: 5vw;
    margin: 0 0 8px;
    font-weight: bold;
    color: rgb(240, 103, 107);
}

.bubble {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    position: relative;
    font-family: sans-serif;
    /* font-size: 18px; */
    /* line-height: 24px; */
    /* width: 300px; */
    background: rgb(113, 178, 248);
    border-radius: 50px;
    padding: 3vw;
    text-align: center;
    color: white;
    margin-bottom: 30px;
    box-shadow: 5px 5px 13px -10px rgba(0,0,0,0.5);
}

.bubble-bottom-right:before {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    content: "";
    width: 3vw;
    height: 0px;
    position: absolute;
    border-right: 60px solid rgb(113, 178, 248);
    border-left: 18px solid transparent;
    border-top: 18px solid rgb(113, 178, 248);
    border-bottom: 40px solid transparent;
    right: 40px;
    bottom: -40px;
}

.title-one, .title-two {
    text-align: center;
}

.subtitle {
    margin: 0 0 32px;
    font-size: 2vw;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 100;
}

