/* @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); */

/* .catchphrase {
    font-size: 5vw;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    color:white;
    margin-top: 10vh;
}

.catchphrase>div{
    margin-top:-10px;
    padding: 0;
}

.subtext{
    font-size: 2vh;
    font-family: 'Martel', serif;
    font-weight: 400px;
    color: white;
    margin-top: 25px;
}

.getstarted{
    border: none ;
    border-radius: 15px;
    padding: 10px;
    margin-top: 25px;
    font-size: 1vw;
    color: #152935;
    background-color: rgb(252, 193, 202);;
}

.getstarted:hover{
    color:white;
    background-color: #c77857;
} */


/* new homepage */

.mainpage-cont {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
}

.left-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.right-cont {
    display: flex;
    justify-content: flex-end;
}

.background-img {
    height: 400px;
    width: 500px;
    border-radius: 25px;
}

.getstarted-btn {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    display: inline-block;
    --text-opacity: 1;
    color: black;
    font-size: 1rem;
    --border-opacity: 1;
    border-width: 2px;
    font-weight: 500;
    padding: .5rem 1.5rem;
    border-radius: 9999px;
    flex-shrink: 0;
    border-color: rgb(237, 236, 237);
    background-color: rgb(237, 236, 237);
    border-style: solid;
}

.getstarted-btn:hover {
    border-color: #A4F467;
    color:white;
    background-color: #A4F467;
}

.title {
    font-size: 60px;
    padding: 30px;
}

.title-one, .title-two {
    text-align: center;
}

.subtitle {
    padding: 20px;
}

