@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.navbar{
    font-size: 2vh;
    padding: 3vw;
    padding-top: 0px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255,0.5);
}

/* Link tag === a tag */
.navbar-right a, .navbar-right {
    padding-right: 3vw;
    align-items: center;
    /* padding-bottom: 10px; */
}

.navbar a{
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    color: black;
}

.navbar a:hover{
    color: white;
}

#logo{
    font-size: 1.25vw;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Dancing Script";
    text-transform: capitalize;
}

#logo:hover{
    color: white
}

.navbar-logo{
    width: 2vw;
    height: 4vh;
}

.logout-btn {
    border: none ;
    border-radius: 15px;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 1vw;
    background-color: #fde5d6;
}

.logout-btn:hover {
    color:white;
    background-color: #c77857;
}

.f-dec, .c-dec {
    font-weight: bold;
}