* {
    font-family: 'Roboto', serif;
}
.goal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-right: 0px;
    padding-left: 0px;
}

.goal-form-box {
    margin-top: 7vh;
    border-radius: 10px;
    box-shadow: #f3e7d6 0px 0px 16px;
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goal-form > form {
    text-align: center;
    padding: 5vh 30vh 5vh 30vh;
    font-family: 'Roboto', serif;
}

.goal-form-title {
    font-size: 7vh;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2vh;
    color: #f09491;
}

.goal-title {
    font-weight: bold;
    padding: 10px;
    font-family: 'Roboto', serif;
}

.goal-type {
    font-size: 17px;
    font-family: 'Roboto', serif;
}

.habits-radio{
    display: flex;
    flex-direction: column;
    margin: 3px;
    padding: 3px;
    font-size: 15px;
    text-align: left;
    color: #687A8F; 
}

input[type="radio"] {
    cursor: pointer;
}

.goal-form-text-input {
    width: 25vw;
    cursor: pointer;
    font-family: 'Roboto', serif;
    border: 1px solid #c7c4c4;
    height: 20px;
    margin: 10px;
}

textarea.goal-form-text-input {
    height: 20vh;
    margin: 10px;
}

.goal-form-text-input::placeholder {
    font-size: 15px;
    font-weight: 200;
    padding-left: 2px;
}

.goal-form-radio-label {
    font-size: 15px;
    margin-left: 10px;
}

.goal-form-submit-div {
    display: flex;
    justify-content: center;
}

.goal-form-submit{
    border-radius: 13px;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 15px;
    background-color: white;
    border-color: #f09491;
    color: #f09491;

    display: inline-block;
    --text-opacity: 1;
    font-size: 1rem;
    --border-opacity: 1;
    border-width: 2px;
    font-weight: 500;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    flex-shrink: 0;
    border-style: solid;
}

.goal-form-submit:hover{
    color:white;
    background-color: #f09491;
}

form.goal-form-box {
    padding: 40px 100px;
}

.plus-sign {
    color:#f09491;
    background-color: white;
    border: 1px solid #f09491;
    transition: all 0.3s;
    cursor: pointer;
    padding: 3.5px;
}

.plus-sign:hover {
    background-color: #f09491;
    color: white;
    border: 1px solid #f09491;
}

.milestone-input {
    border: 1px solid #c7c4c4;
    width: 24vw;
    height: 20px;
    margin: 10px 0px;
}

.milestone-input::placeholder {
    font-size: 15px;
    font-weight: 200;
    padding-left: 2px;
}