.goal-btn{
    position: fixed;
    border: none ;
    bottom: 2vh;
    right: 2vw;

    border-radius: 25%;
    padding: 5px 10px;
    font-size: 2vw;
    background-color: #A4F467;
    color: #152935;
}

.goal-btn:hover {
    color:white;
    background-color: #A4F467;
}

.all-goals {
    display: flex;
    flex-direction: column;
    align-items: center;
}