#emo-button {
  background-image: url(emo_images/sad.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  /* height: 100%;
  width: 100%; */
  border: none;
  padding: 2% 1%;

  height: 20%;
  width: 20%;
  background-size: 50%;
  /* border-radius: 100%; */
  background-color: none;
}

/* button span {
  display: none;
} */