.emoji:hover {
  cursor: pointer;
}

.emoji {
    height: 25px;
    width: 25px;
    align-items: center;
}

.goal-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  border: black 1px solid;
  width: 75vw;
  margin-top: 5vh;
}

.emoji-list{
  display:flex;
  flex-direction: row;
}