.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pin-edit-form-modal {
  background-color: white;
  padding: 20px;
  height: 70vh;
  width: 50vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
  overflow: scroll;
}

.pin-edit-form-modal::-webkit-scrollbar {
    display: none;
}

.pin-edit-form-modal > div {
  width: 100%;
}

.pin-edit-form-modal>div>*{
  text-align: center;
}

.goal-form-radio-label {
  font-size: 18px;
  font-family: 'Roboto';
}

.h1-edit {
  background-color: white;
  position: absolute;
  font-family: 'Roboto';
}

.modal-title{
    width: 100%;
    background: transparent;
    border: none;
    height: 100px;
    font-size: 48px;
    box-sizing: border-box;
    outline: none;
    color: black; 
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
  }

.modal-title::placeholder {
  font-size: 48px;
  font-weight: 100;
}

.modal-description{
  width: 30vw;
  height: 110px;
  resize: none;
  box-sizing: border-box;
  border: none;
  text-align: center;
  font-size: 20px;
  border-width: 0;
  border: none;
    background-color: transparent;
    resize: none;
    outline: none;
  font-family: 'Roboto';
}

.modal-description::placeholder {
  font-size: 20px;
  font-weight: 100;
}

.modal-milestone-list>label{
  display: flex;
}

.modal-milestone{
  margin: 10px;
}

.modal-habit-buttons{
  display: flex;
  flex-direction: column;
}

.modal-habit-buttons>div{
  margin-right: 5px;
}

.modal-edit-button{
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    display: inline-block;
    --text-opacity: 1;
    color: black;
    font-size: 1rem;
    --border-opacity: 1;
    border-width: 2px;
    font-weight: 500;
    padding: .5rem 1.5rem;
    border-radius: 9999px;
    flex-shrink: 0;
    border-color: rgb(237, 236, 237);
    background-color: white;
    border-style: solid;
    border-color: #7ADAB2;
    color: #7ADAB2;
}

.modal-edit-button:hover {
    color:white;
    background-color: #7ADAB2;
}

.modal-tag{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Roboto';
}

hr {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.hr-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-hr {
  height: 10px;
  border-width: 2px;
  color: black;
  background-color: black;
}