.emoji:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.2);
}

.emoji{
    height: 25px;
    width: 25px;
    opacity: 0.9;
}

.goal-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: none;
  box-shadow: 5px 5px 13px -10px rgba(0,0,0,0.41);
  border-radius: 10px;
  min-width: 100%;
  margin: 10px 20px;
  margin-bottom: 5vh;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.goal-box::-webkit-scrollbar {
    display: none;
}

.goal-box>*{
  min-width: 15%;
  max-width: 50%;
  padding-left: 10px;
}

.emoji-list{
  display:flex;
  flex-direction: row;
}

.emoji-list>li{
  padding-top: 30px;
  padding-left: 1vw;
}

.emotion-value{
  padding-left:30%;
}

.goal-box>button, a>button{
  border-radius: 5px;
}

#edit-btn {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    display: inline-block;
    --text-opacity: 1;
    color: black;
    font-size: 1rem;
    --border-opacity: 1;
    border-width: 2px;
    font-weight: 500;
    padding: .5rem 1.5rem;
    border-radius: 9999px;
    flex-shrink: 0;
    border-color: rgb(237, 236, 237);
    background-color: white;
    border-style: solid;
    border-color: #7ADAB2;
    color: #7ADAB2;
}

#edit-btn:hover {
    color:white;
    background-color: #7ADAB2;
}

#buddy-btn {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    display: inline-block;
    --text-opacity: 1;
    color: black;
    font-size: 1rem;
    --border-opacity: 1;
    border-width: 2px;
    font-weight: 500;
    padding: .5rem 1.5rem;
    border-radius: 9999px;
    flex-shrink: 0;
    border-color: rgb(237, 236, 237);
    background-color: white;
    border-style: solid;
    border-color: #52A89D;
    color: #52A89D;
}

#buddy-btn:hover {
    color:white;
    background-color: #52A89D;  
}

.goal-box > div {
  text-transform: capitalize;
}

.goal-box .error-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 150px;
  border: 4px solid rgb(240, 103, 107);
  border-radius: 15px;
  background-color: white;
  color: rgb(240, 103, 107);
  text-transform: none;
}

.error-modal > div:first-child {
  position: relative;
}

.error-modal button {
  background: none;
  border: none;
  font-weight: bold;
  position: absolute;
  top: 8px;
  right: 12px;
  color: rgb(240, 103, 107);
}

.error-modal button:hover {
  opacity: 0.6;
}

.error-modal > div:last-child {
  margin: 35px 25px 0px 15px;
}