* {
    font-family: 'Roboto', serif;
}
.goal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-right: 0px;
    padding-left: 0px;
}

.goal-form-box {
    margin-top: 7vh;
    border-radius: 10px;
    box-shadow: 0 0 100px 5px rgba(0, 0, 0, 0.21);
    padding-right: 0px;
    padding-left: 0px;
}

.goal-form > form {
    text-align: center;
    padding: 5vh 30vh 5vh 30vh;
    font-family: 'Roboto', serif;
}

.goal-form-title {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3vh;
}

.goal-title {
    font-weight: bold;
    padding: 10px;
    font-family: 'Roboto', serif;
}

.goal-type {
    font-size: 17px;
    font-family: 'Roboto', serif;
}

input[type="radio"] {
    cursor: pointer;
}

.goal-form-text-input {
    width: 80%;
    cursor: pointer;
    font-family: 'Roboto', serif;
    border: 1px solid gray;
}

textarea.goal-form-text-input {
    height: 20vh;
    margin-top: 25px;
}

.goal-form-radio-label {
    font-size: 15px;
    margin-left: 10px;
}

.goal-form-submit-div {
    display: flex;
    justify-content: center;
}

.goal-form-submit{
    border-radius: 13px;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 15px;
    background-color: white;
    border-color: #f09491;
    color: #f09491;

    display: inline-block;
    --text-opacity: 1;
    font-size: 1rem;
    --border-opacity: 1;
    border-width: 2px;
    font-weight: 500;
    padding: .5rem 1.5rem;
    border-radius: 9999px;
    flex-shrink: 0;
    border-style: solid;
}

.goal-form-submit:hover{
    color:white;
    background-color: #f09491;
}

form.goal-form-box {
    padding: 40px 100px;
}

.plus-sign {
    color:#f09491;
    background-color: white;
    border-color: #f09491;
    border-style: solid;
}

.plus-sign:hover {
    background-color: #f09491;
    color: white;
    border: 1px solid #f09491;
}

.milestone-input {
    border: 1px solid gray;
    width: 73%;
}